@page "/credit/details"
@using AutoDynamics.Shared.Modals
@using AutoDynamics.Shared.Services
@inject IDatabaseHandler DatabaseHandler
@inject ICurrentData CurrentData
@inject NavigationManager Navigation
<h1 class="text-center mt-3">Credit lists</h1>

<div class="container mt-4">
    <div class="table-responsive">
        <table class="table table-striped table-bordered">
            <thead class="table-dark">
                <tr>
                    <th>S. No</th>
                    <th>Bill No</th>
                    <th>Branch</th>
                    <th>Customer Name</th>
                    <th>Customer Mobile</th>
                    <th>Credit Amount</th>
                    <th>Paid Amount</th>
                    <th>Remaining Balance</th>
                    <th>Due Date</th>
                    <th>Status</th>
                    <th>Created At</th>
                </tr>
            </thead>
            <tbody>
                @if (records.Count == 0)
                {
                    <tr>
                        <td colspan="10" class="text-center text-muted">No customers found.</td>
                    </tr>
                }
                else
                {
                    int sno = 1;
                    @foreach (var record in records)
                    {
                        <tr style="cursor:pointer" @onclick="()=> CreditSelect(record.Customer)">
                            <td>@sno</td>
                            <td>@record.BillNo</td>
                            <td>@record.Branch</td>
                            <td>@record.Customer.Name</td>
                            <td>@record.Customer.Contact</td>
                            <td>@record.CreditAmount</td>
                            <td>@record.PaidAmount</td>
                            <td>@record.RemainingBalance</td>
                            <td>@record.DueDate</td>
                            <td>@record.Status</td>
                            <td>@record.CreatedAt</td>
                        </tr>
                        sno++;
                    }
                }
            </tbody>
        </table>
    </div>
</div>
@code {
    List<CreditRecord> records = new List<CreditRecord>();

    protected override async Task OnInitializedAsync()
    {
        await FetchData();
        StateHasChanged();
    }
    public void CreditSelect(UserModal data)
    {
        CurrentData.Set(CurrentType.Customer, data);
        Navigation.NavigateTo("/view/credit-customer");
    }
    public async Task FetchData()
    {
        string fetchQuery = "SELECT c.*,cu.*,b.* FROM CreditRecord c JOIN Customers cu ON c.CustomerID = cu.CustomerID LEFT JOIN Bills b ON c.BillID = b.BillID";

        var result = await DatabaseHandler.ExecuteQueryAsync(fetchQuery);
        if (result.Count > 0)
        {
            foreach (var row in result)
            {
                records.Add(new CreditRecord
					{
                        CreditID = Convert.ToUInt64(row["CreditID"]),
                        CustomerID = row["CustomerID"].ToString() ?? "",
                        BillNo = row["BillNo"].ToString(),
                        Branch = row["Branch"].ToString(),
                        BillID = row["BillID"] == DBNull.Value ? null : Convert.ToUInt64(row["BillID"]),
                        CreditAmount = Convert.ToDecimal(row["CreditAmount"]),
                        PaidAmount = Convert.ToDecimal(row["PaidAmount"]),
                        RemainingBalance = row["RemainingBalance"] == DBNull.Value ? null : Convert.ToDecimal(row["RemainingBalance"]),
                        DueDate = Convert.ToDateTime(row["DueDate"]),
                        Status = row["Status"].ToString() ?? "",
                        CreatedAt = Convert.ToDateTime(row["CreatedAt"]),
						Customer = new UserModal
                        {
                            CustomerId = row["CustomerID"].ToString() ?? "",
                            Name = row["Name"].ToString() ?? "",
                            Contact = row["Contact"].ToString() ?? "",
                            GSTIN = row["GSTIN"].ToString() ?? "",
                            Address = row["Address"].ToString() ?? "",
                            Area = row["Area"].ToString() ?? "",
                            City = row["City"].ToString() ?? "",
                            State = row["State"].ToString() ?? "",
                            Country = row["Country"].ToString() ?? "",
                            District = row["District"].ToString() ?? "",
                            Nationality = row["Nationality"].ToString() ?? "",
                            PinCode = row["PinCode"].ToString() ?? "",
                            Website = row["Website"].ToString() ?? "",
                            LastUpdatedBy = row["LastUpdatedBy"].ToString() ?? "",
                            Email = row["Email"].ToString() ?? "",
                            IsSMSAllowed = row["IsSMSAllowed"].ToString() == "True" ? true : false,
                            IsEmailAllowed = row["IsEmailAllowed"].ToString() == "True" ? true : false,
                            IsWhatsAppAllowed = row["IsWhatsAppAllowed"].ToString() == "True" ? true : false,
                            CreatedBy = row["CreatedBy"].ToString() ?? "",
                            CreateAt = row["CreatedAt"].ToString() ?? "",
                            LastUpdatedAt = row["LastUpdatedAt"].ToString() ?? ""
                        }
					});
            }
        }

    }


    public void UpdateProduct(BrandType data)
    {
        CurrentData.Set(CurrentType.Brand,data);
        Navigation.NavigateTo("/brand/update");
    }

    public async Task DeleteProduct(string brandID)
    {
        string deleteQuery = $"DELETE FROM Brands WHERE BrandID = {brandID}";

        await DatabaseHandler.ExecuteQueryAsync(deleteQuery);
    }
}